<!DOCTYPE html>
<html>
<title>Fake News Analysis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bmabey/pyLDAvis/files/ldavis.v1.0.0.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:250px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Fake News<br>Analysis</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Introduction</a>
    <a href="#approach" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Approach</a>
    <a href="#results" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Results</a>
  </div>
	<footer>
		<a href="/report" target="blank"><span id="report" class="glyphicon glyphicon-book"></span></a>
		<a href="mailto:victoriacabales2019@u.northwestern.edu,ilhamnurjadin2019@u.northwestern.edu,matthewzhang2018@u.northwestern.edu" target="blank"><span id="mail" class="glyphicon glyphicon-envelope"></span></a>
		<a href="https://github.com/vcabales/fake-news-classifier" target="blank"><img id="github" src="{{url_for('static', filename='GitHub-Mark-Light-32px.png')}}" /></a>
	</footer>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Fake News Analysis</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:275px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Fake News Analysis</b></h1>
		<p>A project by Victoria Cabales, Matthew Zhang, and Ilham Nurjadin <br>
		Northwestern University, EECS 349 Machine Learning</p>
		<a href="/report" target="blank"><h3>View full report here. </h3></a>
    <h1 class="w3-xxxlarge w3-text-red"><b>Introduction</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

		<br/>
		<h4><b>Motivation</b></h4>
		<p style="text-align: justify"> The goal of our project was to build a classifier that can identify whether a news article is fake or real, based on the text and title content of each article. We believe this task is important because misinformation and fake news play a huge role in influencing social media interactions and democratic processes, as seen by the extent to which fake news affected the discourse surrounding the 2016 presidential election. Being able to detect if a news article is ‘real’ or not would be extremely useful to many social media platforms, who could use these machine learning methods to suppress viral fake news articles circulating on their websites and thereby limit the flow of misinformation online.</p>

		<br/>
		<h4><b>Dataset</b></h4>
		<p style="text-align: justify">We found a dataset online containing 11,000 articles - specifically, the article’s title, text and a classification denoting whether the article is ‘real’ or ‘fake’. In this dataset, an article is defined as ‘real’ is one that has been written in a factual manner, and is consistent with ethical journalism practices; an article is defined as ‘fake’ if it is not ‘real’, including but not limited to satire, opinion pieces, and conspiracies.</p>
		<p style="text-align: justify">The labels in this dataset were analyzed and produced by <a href="http://www.opensources.co/" target="blank">OpenSources</a>, an organization that compiles professionally curated lists of unreliable or otherwise questionable sources. Each article has a varying set of word counts, varying from approximately 100 to 500 words on average. </p>
  </div>

  <!-- Results -->
  <div class="w3-container" id="approach" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Approach</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p style="text-align: justify">Our approach involved trying various combinations of vectorizers and learners, primarily from scikit-learn, to see which yielded the best accuracy. We used a bag-of-words model, counting the frequency of each word in an article to determine if it is a feature for training a classifier. The three vectorizers we used for this were the Count Vectorizer, TF-IDF Vectorizer, and Hashing Vectorizer; the four learners we used were Multinomial Bayes, Passive Aggressive Classifiers, Logistic Regression and Nearest Neighbor. Additionally, we also later performed an Latent Dirichlet Allocation (LDA) to determine which words were most associated with 'real' and 'fake' news articles. </p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="results" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Results</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
		<table id="accuracy">
			<tr>
				<th style="padding-left:10px" class="w3-dark-grey w3-large w3-padding-16 w3-center">Vectorizer</th>
				<th class="w3-dark-grey w3-large w3-padding-16 w3-center">Classifier</th>
				<th style="padding-right:10px" class="w3-dark-grey w3-large w3-padding-16 w3-center">Accuracy</th>
			</tr>
      <tr>
        <th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
        <th class="w3-light-grey w3-center w3-padding-16">ZeroR</th>
        <th class="w3-light-grey w3-center w3-padding-16">50.1%</th>
      </tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Count</th>
				<th class="w3-light-grey w3-center w3-padding-16">Multinomial NB</th>
				<th class="w3-light-grey w3-center w3-padding-16">85.9%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
				<th class="w3-light-grey w3-center w3-padding-16">Multinomial NB</th>
				<th class="w3-light-grey w3-center w3-padding-16">85.9%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
				<th class="w3-light-grey w3-center w3-padding-16">Passive Aggressive</th>
				<th class="w3-light-grey w3-center w3-padding-16">93.3%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
				<th class="w3-light-grey w3-center w3-padding-16">Passive Aggressive + Bigrams</th>
				<th class="w3-light-grey w3-center w3-padding-16">93.9%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
				<th class="w3-light-grey w3-center w3-padding-16">Logistic Regression</th>
				<th class="w3-light-grey w3-center w3-padding-16">91.1%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Tf-idf</th>
				<th class="w3-light-grey w3-center w3-padding-16">KNN</th>
				<th class="w3-light-grey w3-center w3-padding-16">54.9%</th>
			</tr>
			<tr>
				<th class="w3-light-grey w3-center w3-padding-16">Hashing</th>
				<th class="w3-light-grey w3-center w3-padding-16">Multinomial NB</th>
				<th class="w3-light-grey w3-center w3-padding-16">90.1%</th>
			</tr>
		</table>
    <br />
    <p style="text-align:justify">As can be seen above, we found that the combination of a TF-IDF Vectorizer and a Passive Aggressive Classifier with bigrams yielded the highest accuracy of 93.9%. </p>
    <p style="text-align:justify">Additionally, our tf-idf and Passive Aggressive Classifier provided some other interesting results: the top three words associated with fake articles were ‘October’, ‘Hillary’ and ‘share’, while the top three words associated with real articles were ‘said’, ‘says’ and ‘Fridays’.</p>
    <p style="text-align:justify">More analysis of our findings can be found in our <a href="/report" target="blank">final report.</a></p>
    <br />
  </div>

<!-- End page content -->
</div>


<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>

<style>
nav > footer {
  margin-left: 15px;
  margin-top: 20px;
}

#github {
  right:0;
  top: -5px;
  width:1em;
  margin-left:10px;
  margin-top:-7px;
}

#mail {
  padding-left: 1rem;
  color: white;
}

#report {
  color: white;
}

@media only screen and (max-width: 400px) {
    #accuracy {
        margin-left: 0;
    }
}
@media only screen and (min-width: 1000px) {
    #accuracy {
        margin-left:15em;
    }
}

</style>
